<footer class="footer bg-dark py-1 mt-auto">
    <div class="container text-center">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="scrollToTopBtn text-center btn btn-dark text-muted">&#8593;<br>back to top</button>
        </div>
        <!-- <span class="text-muted text-center">&copy; CarGo 2021</span> -->

    </div>
    <script src="/javascripts/scrollToTop.js"> </script>
</footer>