<% layout('/layout/boilerplate') %>
    <h1>All Cargo Posts</h1>
    <% for (let cargo of cargos) { %>
        <li><a href="/cargopanel/<%=cargo._id%>">
                <%= cargo.type %>
            </a></li>
        <% } %>