<% layout('/layout/boilerplate') %>

    <h1>
        <%= cargo.type %>
    </h1>
    <h3>
        <%= cargo.location %> - <%= cargo.destination %>
    </h3>

    <a href="/cargopanel/<%=cargo._id %>/edit">Edit</a>
    <a href="/cargopanel">Back</a>