<% layout('/layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">


    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4">


            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dgviuwbga/image/upload/c_scale,h_200/v1616340462/CarGO/dkkwuwtavcqywmv4yd3m.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title"><%=user.firstname %> <%=user.lastname %>  </h4>
                    <% if (user.role === 'driver') {%> 
                        <span class="badge bg-warning">&#10003; Verified Driver</span>
                    <% } %> 
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rating:  <%=user.rating %> &#9733;&#9733;&#9733;&#9733;&#9734;</li>
                    <li class="list-group-item">Total deliveries: 463</li>
                    <li class="list-group-item">Rated deliveries: 418</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-outline-warning">&#9825; Favorite</a>
                    <a href="#" class="card-link btn btn-outline-danger">&#10008; Report</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-dark mb-3" style="max-width: 45rem;">
                <div class="card-header">
                    <p class="starability-result" data-rating="5">
                    </p>
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Amazing job!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card border-dark mb-3" style="max-width: 45rem;">
                <div class="card-header">
                    <p class="starability-result" data-rating="4">
                    </p>
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Satisfactory!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card border-dark mb-3" style="max-width: 45rem;">
                <div class="card-header">
                    <p class="starability-result" data-rating="5">
                    </p>
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Perfect timing !</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
        </div>
        
    </div>
