<% layout('/layout/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row mb-4">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1614064849348-46bfef75deb8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2550&q=80"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h4 class="card-title mb-4">Register</h4>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            
                            <div class="mb-3 row g-3">
                                <div class="col">
                                    <label class="form-label" for="firstname">First Name</label>
                                  <input type="text" class="form-control" id="firstname" name="firstname" aria-label="First name" autofocus required>
                                  <div class="valid-feedback">
                                    Looks good!
                                </div>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="lastname">Last Name</label>

                                  <input type="text" class="form-control" id="lastname" name="lastname"  aria-label="Last name" required>
                                  <div class="valid-feedback">
                                    Looks good!
                                </div>
                                </div>
                              </div>

                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <select class="form-select mb-3" aria-label="Default select example" name="role" required>
                                    <option selected>Select your user type</option>
                                    <option value="client">Client</option>
                                    <option value="driver">Driver</option>
                                  </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <a href="/login" class="text-muted">Already a member?</a>
                            </div>
                            <button class="btn btn-success btn-block">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>